# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Skrabbl.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\patri\Desktop\ucn\3. semester\projekt\Skrabbl\.idea\.idea.Skrabbl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
